body {
  font-family: Oswald, Arial, sans-serif;
  color: #333;
  line-height: 1.5em; 
  font-size: 0.875em;
  background: url("../img/img6427.jpg");
  background-size: auto 960px;
}

div {
  display: block;
  border: none;
  outline: none;
  width: 8em;
  height: 2em;
  line-height: 2;
  text-align: center;
  background-color: white;
  color: #333;
  position: absolute;
  margin: auto;
  top: 7em;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

a {
  text-decoration: none;
}

a:hover{
  cursor: pointer;
  color: white;
}


div:hover{
  background-color: #8C5870;
}