@media screen and (min-width: 768px) { 
  body{
    width: 100%;
    font-size: 0.875em;
  }
  .time-line .current-position{
    position: relative;
    float: left;
    width: 38%;
    padding: 15px;
    top: 20px;
  }
  .time-line .past-position{
    position: relative;
    float: left;
    width: 20%;
    padding: 15px;
    top:20px;
  }

  .contact, .portfolio {
    position: relative;
    clear: both;
    padding: 10px;
  }
}

/* 
    how to vertical center

    position absolute margin auto top and bottom 0
    height 1em
*/
/*  .section1{
    float: left;
    width: 100%;
    margin: 30px 2.5px 0px 30px;
  }

  .section2{
    float: left;
    width: 25%;
    margin: 30px 2.5px 0px 30px;
  }
}
*/
@media and (min-width: 960px) { /*960px*/
  body{
    width: 100%;
    font-size: 1em;
  }
}