*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Oswald, Arial, sans-serif;
  color: #333;
  line-height: 1.5em; 
  font-size: 0.875em; /*14px*/
}

header{
  width: 100%;
  height: 20em;
  margin: 0 auto;
  background-color: #F1F3F9;
}

nav {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
}

h1{
  font-weight: 300;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1em;
  text-align: center;
}

h2{
  font-size: 1em;
  line-height: 1em;
  margin: 0 auto;
}

a:visited{
  color:#333;
}

footer {
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  padding: 30px;
  clear: both;
  overflow: hidden;
}

.container{
  width: 100%; /* 960px */
  margin: 0 auto;
  height: 20em;
}

.name{
  font-size: 3em;
  line-height: 50px;
  font-weight: 700;
  position: relative;
  top: 100px;
}

.topnav{
  position: relative;
  top: 12em;
  left: 0;
  bottom: auto;
  right: auto;
  width: 100%;
  background-color: #749AD3;
  z-index: 99;
  display: inline-block;
  list-style: none;
}
.topnav .topnav-items{
  list-style: none;
  height: 5em;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 0 10%;

}

.topnav .topnav-items li{
  display: inline-block;
  float: left;
  margin: 2.5% 8%;
  width: 6em;
}

.main {
  width: 90%;
  margin: 5em auto;
}

.time-line{
  position: relative;
  margin-top: 30px;
  clear:both;
}

.time-line .current-position{
  position: relative;
  padding: 15px;
  border-left: 3px solid #e1e1e1;

}

.time-line .current-position .date{
  width: 50px;
  height: 50px;
  font-size: 10px;
  padding: 7px 7px;
  border-radius: 50%;
  border: 1px solid #1E3C63;
  background-color: #1E3C63;
  color: white;
  display: inline-block;
  z-index: 2;
  text-align: center;
  position: absolute;
  left:-25px;
  top:-20px;
}

.time-line .current-position .description{
  width: 100%;
  border: 3px solid #183052;
  position: relative;
  padding: 10px 20px;
  border-radius: 0 10px 10px;
  top: -10px;
}

.time-line .past-position .date{
  width: 50px;
  height: 50px;
  font-size: 12px;
  padding: 9px 7px;
  border-radius: 50%;
  border: 5px solid #2D5B97;
  background-color: #2D5B97;
  color: white;
  display: inline-block;
  z-index: 2;
  text-align: center;
  position: absolute;
  left:-25px;
  top:-20px;
}

.time-line .past-position{
  position: relative;
  padding: 15px;
  border-left: 3px solid #e1e1e1;
  
}

.time-line .past-position .description{
  border: 3px solid #2D5B97;
  position: relative;
  padding: 10px 20px;
  border-radius: 0 10px 10px;
  top: -10px;
}

.experience a:hover{
  color: blue;
}

.portfolio{
  background-color: rgba(241, 205, 196, 0.75);
  padding: 10px;
}

.section1{
  float: left;
  width: 65%;
  margin: 30px 15px 0px 30px;
}

.section2{
  float: left;
  width: 25%;
  margin: 30px 30px 0px 15px;
}

.title{
  font-weight: 300;
  padding:10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.experience li{
  border-radius: 5px;
  background-color: beige;
  padding: 10px;
  margin-bottom: 6px;
  font-weight:300;
}

.experience li:nth-child(even){
  background-color: grey;
}

.icon{
  text-decoration: none;
  color: #333;
}

.contact li{
  display: inline-block;
}
